.FinalSum {
  background-color: #fff;
  font-weight: bold;
}

.FinalSum .text {
    padding-left: 50px;
    text-align: left;
}
.FinalSum .sum {
    font-size: 36px;
}
.FinalSum .grey {
    color: grey
}
